
header {
    background: #f0ba7d;
    height: 100px;
    z-index: 170;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .logo-header {
    padding: 30px;
    float: left;
  } .logo-header-2 {
    padding: 30px;
    float: right;
  }

  .nav {
    float: left !important;
  }
  .nav > li {
    display: block;
    float: left;
  }
  .nav > li > a {
    color: #d62d2d;
    font-weight: bold;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    padding: 20px; /* отступ от текста */
  }
